.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 960px;
	margin: 60px auto;
}

.content {
	padding-right: 30px;
}

.sidebar {
	padding-left: 30px;
}

.sidebar form {
	padding: 20px;
	background-color: var(--clr-light-green);
	border-radius: 10px;
}

.sidebar input,
.sidebar select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	box-sizing: border-box;
	border: 0;
	border-radius: 4px;
	color: var(--clr-dark);
	font-size: 1rem;
}

.sidebar label {
	margin: 0 auto 20px;
	display: block;
	color: var(--clr-light);
}

.sidebar button {
	color: var(--clr-light);
	border: 1px solid var(--clr-light);
	padding: 6px 12px;
	background-color: transparent;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	width: 100%;
}

.sidebar button:hover {
	background-color: var(--clr-light-green2);
}

.sidebar h3 {
	color: var(--clr-light-green);
	margin-bottom: 20px;
}

.sidebar aside {
	margin-top: 40px;
	color: var(--clr-dark);
}

.sidebar li {
	margin: 10px;
}

/* Transaction List */

.transactions li {
	margin: 30px auto;
	border: 1px solid white;
	box-shadow: 3px 3px 3px 5px rgba(50, 50, 50, .1);
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	border-left: 4px solid var(--clr-light-green);
}

.transactions .name {
	color: var(--clr-dark);
	font-size: 1.4rem;
}

.transactions .amount {
	margin-left: auto;
	margin-right: 40px;
	color: var(--clr-dark);
	font-weight: bold;
	font-size: 1.6rem;
}

.transactions button {
	position: absolute;
	right: .2rem;
	top: .2rem;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	line-height: 0;
	font-size: 1.3rem;
	font-weight: 700;
	cursor: pointer;
}

.transactions button:hover {
	opacity: 1;
}
