.navbar {
	width: 100%;
	background-color: var(--clr-light);
	padding: 20px 10px;
	box-sizing: border-box;
}

.navbar ul {
	display: flex;
	margin: 0 auto;
	max-width: 960px;
	align-items: center;
}

.title {
	font-family: 'Caveat Brush', cursive;
	color: var(--clr-dark-green);
	margin-right: auto;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.6rem;
}

.navbar button,
.navbar a {
	margin-left: 1rem;
}

.navbar a {
	color: var(--clr-dark-green);
	font-weight: 600;
	text-decoration: none;
}

.navbar a:hover {
	color: var(--clr-light-green);
}
