:root {
	/* colors */
	--clr-dark: #333;
	--clr-dark2: 230 35% 7%;
	--clr-light: #effaf0;
	--clr-light-gray: #777;
	--clr-light-green: #1f9751;
	--clr-dark-green: #015d53;
	--clr-white: 0 0% 100%;
	--clr-error: #e12a2a;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
	overflow-x: hidden;
}
/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ******************************************************************** */
/* base styles */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}

input {
	border-radius: .2em;
	border: 1px solid var(--clr-dark-green);
}

label {
	font-weight: 400;
	letter-spacing: .1em;
	color: var(--clr-light-gray);
	text-transform: capitalize;
}
ul {
	list-style-type: none;
}
.btn {
	background: none;
	border: 2px solid var(--clr-light-green);
	padding: 6px 12px;
	border-radius: 1em;
	color: var(--clr-light-green);
	font-weight: bold;
	cursor: pointer;
	font-size: 1em;
	transition: all .2s ease;
}
.btn:hover {
	background: var(--clr-light-green);
	color: #fff;
}

.error {
	margin-top: 1rem;
	text-align: center;
	color: var(--clr-error);
	line-height: 1.1;
	font-style: italic;
}
